@mixin scrollbar($size, $foreground-color, $background-color: mix($forground-color, white, 50%)) 
  &::-webkit-scrollbar 
    width: $size
    height: $size

  &::-webkit-scrollbar-thumb
    background: transparentize($foreground-color, .2)
    border-radius: 15px
    &:hover
      background: transparentize($foreground-color, .1)

  &::-webkit-scrollbar-track
    background: $background-color

@mixin transition($what: all, $time: .5s, $how: ease) 
    -webkit-transition: $what $time $how
    -moz-transition:  $what $time $how
    -ms-transition: $what $time $how
    -o-transition:  $what $time $how
    transition: $what $time $how

%overlay-config
  position: absolute
  background: linear-gradient(to right, #683ce5, #5331bb, #402693, #2e1b6c, #1d1148)
  top: 0
  left: 0
  width: 100%
  height: 100%
  display: flex
  justify-content: center
  align-items: center